.single-card-event {
  width: 40em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3em;
  padding: 2.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  height: 33em;
  background-color: #e2dfdf5d;
  box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  font-family: "Playfair Display:Regular 400 Italic";
}

.single-event-header {
  display: flex;
  justify-content: space-between;
}

#tag-list {
  width: 3em;
}

.time-container {
  display: flex;
  align-items: center;
}

.event-image {
  width: 10em;
  height: 10em;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

.icon-location-container {
  display: flex;
  align-items: center;
}

.event-status {
  padding: 0.5em;
  border-radius: 3em;
  background-color: #e2dfdf;
}

.join-event-button {
  height: 2.5em;
  width: 8em;
  margin-left: 35em;
  background-color: #2f3338;
  cursor: pointer;
  border: solid white 1px;
  color: white;
  border-radius: 4em;
  transition: all 0.4s ease-in-out;
}

.join-event-button:hover {
  background-color: #2f33389d;
  color: #10151ade;
}

.weather-event-continer {
  position: absolute;
  top: 7em;
  left: 2em;
  background-color: #e2dfdf5d;
  box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 2em;
  font-family: "Playfair Display:Regular 400 Italic";
  width: 13em;
  padding: 2em;
}

.cloud-icon {
  width: 4em;
  margin-left: 1em;
}
