#user-page {
  display: flex;
  gap: 8em;
}

#profile-card-container {
  margin-top: 3em;
  display: flex;
  align-items: flex-start;
  margin-left: 2.5em;
}

#profile-card {
  border-radius: 3.5em;
  box-shadow: 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 36em;
  height: 19em;
  background-color: rgba(240, 248, 255, 0.596);
  font-family: "Playfair Display:Regular 400 Italic";
}

#username {
  font-size: 1.5em;
}

#email {
  font-size: 1.3em;
}
